/* CSS Document */

/*
 naimul hasan shadhin
 mail:naimulshadhin@gmail.com
 skype:shadhin9227
 fb:facebook.com/shadhen.khan1/
*/



body
{
	margin:0;
	padding:0;
	
	font-family:"MYRiad Pro";
	
}

a
{
	text-decoration:none;
	color:inherit;
}

a:hover
{
	text-decoration:underline;
}
.center_layout
{
	width:750px;
	max-width:750px;
	height:750px;
	background:#FFF;
	margin:0 auto;
}

#main_layout
{
	width:100%;
	height:80%;
	background:#fff;
	position: relative;
	margin:0 auto;
	top:10px;
	color:#000;
	overflow:hidden;
}


/*********************background animation ******************************/
.bg_ani
{
	width:16.4%;
	border:1px solid #fff;
	height:19.66%;
	background:#fff;
	float:left;
	position: absolute;
	overflow:hidden;
	color:#000;
	-webkit-animation: bgan 1.4s;
	animation: bgan 1.4s;
	visibility:hidden;
	z-index:100;
}
.bg_ani .bg_border
{
	width:100%;
	border:2px solid #fff;
	height:100%;
	float:left;
	position: absolute;
	top:-1.8px;
	left:-1.5px;
	
		-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;

}

/*********************background animation ******************************/


/*********************background_menu ******************************/
#bg_menu_container
{
	width:100%;
	height:100%;
	position:absolute;
}
.bg_menu_bg
{
	width:100%;
	height:100%;
	background:#FFF;
	position:absolute;
	left:0%;
	-webkit-transition:all 0.6s;
	transition:all 0.6s;
}

.bg_menu
{
	width:16.4%;
	border:1px solid #fff;
	height:19.66%;
	background:#000;
	float:left;
	position: absolute;
	color:#000;
	cursor:pointer;
	
	   -moz-border-radius:5px;
	     -o-border-radius:5px;
	border-radius:5px;
	
	
	-webkit-animation:menu 0.7s;
	animation:menu 0.7s;
	
	-webkit-transition:all 1s;
	transition:all 1s;
}
.menu_img
{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	
	   -moz-border-radius:5px;
	     -o-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}

.bg_menu:hover .menu_img
{
	opacity:1;
}

#hm_img
{
	background: url(../images/bg_home.jpg) no-repeat center;
	background-size:100% 100%;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}


#wim_img
{
	background: url(../images/bg_wim.jpg) no-repeat center;
	background-size:100% 100%;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}




#wid_img
{
	background: url(../images/bg_wid.jpg) no-repeat center;
	background-size:100% 100%;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}



#wm_img
{
	background: url(../images/bg_wm.jpg) no-repeat center;
	background-size:100% 100%;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}


#cm_img
{
	background: url(../images/bg_cm.jpg) no-repeat center;
	background-size:100% 100%;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}


.bg_menu_text
{
	opacity:0.999;
	width:100%;
	border:1px solid #fff;
	height:100%;
	float:left;
	position: absolute;
	overflow:hidden;
	color:#000;
	left:101%;
	text-align:center;
	font-size:21px;
	color:#FFF;
	line-height:100px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	   -moz-border-radius:5px;
	     -o-border-radius:5px;
	border-radius:5px;
		 
	-webkit-transition:all 0.5s;
	transition:all 0.5s;

	-webkit-animation:menu_text 1s;
	animation:menu_text 1s;
}



.bg_menu_text span
{
	color:#FFF;
}
.bg_menu:hover .bg_menu_text span
{
	-webkit-animation:text_hover 0.4s;
	animation:text_hover 0.4s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}

.bg_menu:hover .bg_menu_text div
{
	top:-170%;
}


/*********************background_menu ******************************/


/*************************view page animation****************************/

#viewani_container
{
	width:200%;
	height:100%;
	position:absolute;
	left:-110%;
	
	-webkit-transform:rotateY(90deg);
	transform:rotateY(90deg);
	
	
}



#dispaly_text
{
	width:50%;
	height:10%;
	position:absolute;
	display:inline-block;
	left:35%;
	top:40%;
	z-index:14;
	font-size:200%;
	font-weight:bold;
	
	text-shadow:0px 0px 1px #000;
	
	-webkit-animation:displaytext 1.8s;
	-webkit-animation-timing-function:ease-out;
	
	animation:displaytext 1.8s;
	animation-timing-function:ease-out;	
}


#dispaly_text_shadow
{
	width:200%;
	height:20%;
	position:absolute;
	display:inline-block;
	left:-10%;
	top:40%;
	z-index:14;
	font-size:800%;
	font-weight:bold;
	opacity:0.1;
	
	-webkit-animation:displaytext2 1.8s;
	-webkit-animation-timing-function:ease-out;	
	
	animation:displaytext2 1.8s;
	animation-timing-function:ease-out;	
}

#dispaly_text span
{
	color:#C03;
	
	text-shadow:0px 0px 1px #C33;
}



@-webkit-keyframes displaytext
{
	0%{ left:100%;}
	20%{ left:100%;}
	30%{ left:50%;}
	100%{ left:35%;}
}

@keyframes displaytext
{
	0%{ left:100%;}
	20%{ left:100%;}
	30%{ left:50%;}
	100%{ left:35%;}
}

@-webkit-keyframes displaytext2
{
	0%{ left:100%;}
	25%{ left:100%;}
	40%{ left:0%;}
	100%{ left:-30%;}
}


@keyframes displaytext2
{
	0%{ left:100%;}
	25%{ left:100%;}
	40%{ left:0%;}
	100%{ left:-30%;}
}



#viewani
{
	width:50%;
	height:100%;
	position:absolute;
	margin-left:50%;
	z-index:10;
	
}



.display_ani
{
	width:24.6%;
	border:1px solid #fff;
	height:19.66%;
	background:#ccc;
	float:left;
	position: absolute;
	overflow:hidden;
	visibility:hidden;
	
	-webkit-animation: disan 1.6s;
	animation: disan 1.6s;
}

.display_ani_border
{
	width:100%;
	border:2px solid #fff;
	height:100%;
	float:left;
	position: absolute;
	top:-1.8px;
	left:-1.5px;
	
		-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;


}


/*************************view page animation****************************/



/*************************view page****************************/
.viewpage
{
	width:66.62%;
	height:100%;
	position:absolute;
	margin-left:33.31%;
}

#home, #wia, #wid , #wm , #cm
{
	width:90%;
	height:90%;
	position:absolute;
	top:5%;
	left:5%;
	background:#dd3700;
	overflow:hidden;
	visibility:hidden;
}
#wia
{
	background:#eaba00;
}
#wid
{
	background:#9fbe4b;
}
#wm 
{
	background: #c46674;
}
#cm
{
	background: #4fb9c6;}

/*************************view page****************************/


/*******************menu start*******************************/
#menu_container
{
	width:33.31%;
	height:100%;
	background:#FFF;
	position:absolute;
}

.menu
{
	width:100%;
	height:40%;
	position:absolute;
	top:60%;
}
#menu_a , #menu_b , #menu_c, #menu_d, #menu_r
{
	width:50%;
	border:1px solid #fff;
	height:50%;
	background:#fff;
	float:left;
	position: absolute;
	color:#000;
	cursor:pointer;
	overflow:hidden;
	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	   -moz-border-radius:5px;
	     -o-border-radius:5px;
	border-radius:5px;
	
	
	-webkit-animation:menu 0.7s;
	animation:menu 0.7s;
	
	-webkit-transition:all 1s;
	transition:all 1s;
	
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	
}

#menu_b
{
	background:#FFF;
	left:50%;
	-webkit-animation-delay:0.05s;
	animation-delay:0.1s;
}


#menu_c
{
	background:#FFF;
	top:50%;
	-webkit-animation-delay:0.1s;
	animation-delay:0.2s;
}


#menu_d
{
	background:#FFF;
	left:50%;
	top:50%;
	
	-webkit-animation-delay:0.15s;
	animation-delay:0.3s;
}

#menu_r
{
	height:20%;
}

#menu_r span
{
	visibility:hidden;
}

.back
{
	position:absolute;
	padding:25% 33%;
	width:34%;
	height:50%;
	z-index:10;
	color:#FFF;
	font-size:130%;
	font-weight: normal;
	text-align:center;
	
}

#menu_r .back span
{
	visibility:inherit;
	line-height:20px;
}

#menu_r:hover .back span
{
	-webkit-animation: back_text_hover 0.4s;
	animation: back_text_hover 0.4s;
}



.under_menua, .under_menub, .under_menuc, .under_menud {
	width: 180%;
	height: 80%;
	background: #fff;
	position: absolute;
	float: left;
	top: -80%;
	left:-45%;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	z-index: -1;
	opacity: 0.8;
	box-shadow:0px 180px 70px #eab800;
}
.under_menux {

	box-shadow:0px 180px 70px #F00;
}

.under_menub {
	box-shadow:0px 180px 70px #9ebe4b ;
}


.under_menuc {

	box-shadow:0px 180px 70px #c36674;
}

.under_menud {

	box-shadow:0px 180px 70px #4fbac7;
}
.menu_text {
	opacity: 1;
	width: 100%;
	border: 0px solid #fff;
	height: 100%;
	background: #fff;
	float: left;
	position: absolute;
	overflow: hidden;
	text-align: center;
	font-size: 21px;
	color: #FFF;
	line-height: 100px;
	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0s;
	transition: all 0s;
}

.menu_text:hover span {
	-webkit-animation: text_hover 0.4s;
	animation: text_hover 0.4s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
.menu_text:hover div, #menu_r:hover div div{
	top: -170%;
}



/*********************menu IMAGE START******************************/


#menu_img
{
	width:100%;
	height:60%;
	margin:0;
	padding:0;
	background:#FFF;
	position:absolute;
	background:#fff;
	background-position:100% 100%;
	background-size:100% 100%;

}

#menu_img_1, #menu_img_2, #menu_img_3, #menu_img_4, #menu_img_5, #menu_img_6
{
	width:100%;
	height:100%;
	color:#000;
	font-size:100px;
	position:absolute;
}

#menu_img_a, #menu_img_b, #menu_img_c, #menu_img_d, #menu_img_e, #menu_img_f
{
	width:50%;
	border:1px solid  #FFF ;
	height:33.3%;
	opacity:1;
	float:left;
	position: absolute;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	top:0%;
	left:0%;
	background:#FFF;
	border-radius:5px;
	background: url(../images/boy.jpg) no-repeat;
	background-position:0% top;
	background-size:200% 300%;
	

	-webkit-animation:menu_img_ani_a 1s;
	animation:menu_img_ani_a 0.4s;
}

#menu_img_b
{
	top:0%;
	left:50%;
	background-position:100% 0%;
	
	-webkit-animation:menu_img_ani_b 0.4s;
	
	animation:menu_img_ani_b 0.4s;
}


#menu_img_c
{
	top:33.333%;
	left:0%;
	background-position:0% 50%;
	
	-webkit-animation:menu_img_ani_c 0.4s;
	
	animation:menu_img_ani_c 0.4s;
}


#menu_img_d
{
	top:33.333%;
	left:50%;
	background-position:100% 50%;
	
	-webkit-animation:menu_img_ani_d 0.3s;
	
	animation:menu_img_ani_d 0.3s;
}


#menu_img_e
{
	top:66.666%;
	left:0%;
	background-position:0% 100%;
	
	-webkit-animation:menu_img_ani_e 0.4s;
	
	animation:menu_img_ani_e 0.4s;
}


#menu_img_f
{
	top:66.66%;
	left:50%;
	background-position:100% 100%;
	
	-webkit-animation:menu_img_ani_f 0.6s;
	
	animation:menu_img_ani_f 0.6s;
}


@-webkit-keyframes menu_img_ani_a
{
	0% { opacity:0; background-position:5% 5%;}
	10%   { opacity:0;}
	50%{ background-position:0% 0%;}
	100% { opacity:1;}
}

@keyframes menu_img_ani_a
{
	0% { opacity:0; background-position:5% 5%;}
	10%   { opacity:0;}
	50%{ background-position:0% 0%;}
	100% { opacity:1;}
}


@-webkit-keyframes menu_img_ani_b
{
	0%    {background-size:215% 340%; opacity:0;background-position:100% 10%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}



@keyframes menu_img_ani_b
{
	0%    {background-size:215% 340%; opacity:0;background-position:100% 10%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}



@-webkit-keyframes menu_img_ani_c
{
	0%    {background-size:215% 340%; opacity:0;background-position:15% 50%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}


@keyframes menu_img_ani_c
{
	0%    {background-size:215% 340%; opacity:0;background-position:15% 50%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}


@-webkit-keyframes menu_img_ani_d
{
	
	0%    {background-size:210% 335%; opacity:0;background-position:105% 58%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}

@keyframes menu_img_ani_d
{
	
	0%    {background-size:210% 335%; opacity:0;background-position:105% 58%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}



@-webkit-keyframes menu_img_ani_e
{
	0%    {background-size:185% 290%; opacity:0; background-position:5% 100%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}



@keyframes menu_img_ani_e
{
	0%    {background-size:185% 290%; opacity:0; background-position:5% 100%;}
	10%  { opacity:0.2;}
	100%   {background-size:200% 300%; opacity:1;}
}



@-webkit-keyframes menu_img_ani_f
{
	0%    { background-position:103% 93%; background-size:210% 320%; opacity:0}
	10%  { opacity:0.2;}
	100%   { background-size:200% 300%; opacity:1;}
}



@keyframes menu_img_ani_f
{
	0%    { background-position:103% 93%; background-size:210% 320%; opacity:0}
	10%  { opacity:0.2;}
	100%   { background-size:200% 300%; opacity:1;}
}

/*********************menu IMAGE end******************************/





/*********************menu end******************************/





/*********************menu keyframe******************************/

@-webkit-keyframes text_hover
{
	20% { line-height:80px; }
	35% { line-height:115px; }
	40% { line-height:115px; }
	90% { line-height:100px;}
	
}

@keyframes text_hover
{
	20% { line-height:80px; }
	35% { line-height:115px; }
	40% { line-height:115px; }
	90% { line-height:100px;}
	
}

@-webkit-keyframes back_text_hover
{
	20% { line-height:5px; }
	35% { line-height:35px; }
	40% { line-height:35px; }
	90% { line-height:20px;}
	
}

@keyframes back_text_hover
{
	20% { line-height:5px; }
	35% { line-height:35px; }
	40% { line-height:35px; }
	90% { line-height:20px;}
	
}




@-webkit-keyframes menu_text
{
	0% { left:0%;}
	50% { left:0%;}
	90% { left:102%;}
	
}

@keyframes menu_text
{
	0% { left:0%;}
	65% { left:0%;}
	100% { left:102%;}
	
}



@-webkit-keyframes menu
{
	0% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg);}
	20% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg);}
}

@keyframes menu
{
	0% { transform: rotateY(90deg);}
	20% { transform: rotateY(90deg);}
}


@-webkit-keyframes menu2
{
	0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
	46% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg);}
	54% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg);}
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
}


@keyframes menu2
{
	0% { transform: rotateY(0deg);}
	46% { transform: rotateY(90deg);}
	54% { transform: rotateY(90deg);}
	100% { transform: rotateY(0deg);}
}



/*********************menu keyframe******************************/


/********************* display animation******************************/
@-webkit-keyframes disan
{
	0%    { visibility:inherit; background:#fff;}
	5%   { background:#FFF;}
	30%   { background:#CCC;}
	70%   { background:#CCC;}
}


@keyframes disan
{
	0%    { visibility:inherit; background:#fff;}
	5%   { background:#fff;}
	30%   { background:#CCC;}
	70%   { background:#CCC;}
	100%  { visibility:inherit;}
}


@-webkit-keyframes displaychange
{
	
	0%{ -webkit-transform:rotateY(0deg); transform:rotateY(0deg); left:-100%;}
	70%{ -webkit-transform:rotateY(0deg); transform:rotateY(0deg); left:-100%;}
	100%{ -webkit-transform:rotateY(90deg); transform:rotateY(90deg); left:-150%;}

}



@keyframes displaychange
{
	0%{-webkit-transform:rotateY(0deg); transform:rotateY(0deg); left:-100%;}

	70%{-webkit-transform:rotateY(0deg); transform:rotateY(0deg); left:-100%;}
	100%{-webkit-transform:rotateY(90deg); transform:rotateY(90deg); left:-150%;}

}


/********************* display animation******************************/

/*********************background animation keyframe******************************/
@-webkit-keyframes bgan
{
	0%    { visibility:inherit;}
	5%   { background:#FFF;}
	30%   { background:#CCC;}
	70%   { background:#CCC;}
}


@keyframes bgan
{
	0%    { visibility:inherit;}
	5%   { background:#FFF;}
	30%   { background:#CCC;}
	70%   { background:#CCC;}
}

/*********************background animation keyframe******************************/


/*
 naimul hasan shadhin
 mail:naimulshadhin@gmail.com
 skype:shadhin9227
 fb:facebook.com/shadhen.khan1/
*/

